html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
    background-color: #ededed;
    min-height: 100vh;
}

.container {
    max-width: 1400px;
    padding: 30px 15px;
}

.cart_wrapper, .home-menu_wrapper, .cards_wrapper {
  min-height: calc(100vh - 332px);
  padding-bottom: 40px;
}

h3 {
    font-size: 30px;
    line-height: 28px;
}

h2 {
  text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 15px;
}

.card {
    width: 320px;
    padding: 20px;
    border-radius: 14px;
    margin: 0;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #222;
    max-width: 280px;
    max-height: 53px;
    overflow: hidden;
  }

.button-primary-text {
    color: #4caf50;
    border-color: #4caf50;
    margin: 5px 2px 15px;
}

.card .img {
    display: block;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 160px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .alert {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    padding: 1rem 1rem;
    border-radius: .25rem;
    width: 400px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
  }



  /* ------ cart ------ */

  .cart-title{
    text-align: center;
  }
  .cart-out  {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .cart-out img {
    height: 85px;
    width: 100px;
  }

  .cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* height: 100px; */
    height: auto;
    max-width: 900px;
    border-radius: 8px;
    margin: 8px 0;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(224, 224, 224, 0.5);
    width: 100%;
    padding: 10px;
    position: relative;
  }

  .cart .cost {
    font-size: 18px;
    margin-left: 12px;
    margin-right: 8px;
  }

  .cart .totalCost {
    font-size: 19px;
    margin-left: 12px;
    margin-right: 8px;
  }

  button.del {
    border: none;
    margin: 0;
    padding: 0px;
    color: tomato;
    line-height: 10px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 8px;
  }


  .mini-btn {
    padding: 0 10px;
    font-size: 1.5rem;
    margin-right: 8px;
    margin-left: 8px;
    height: 35px;
    line-height: 26px;
}

.total-out {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin: 12px;
  margin-top: 30px;
}

p.helper {
  font-size: 15px;
  margin-bottom: -5px;
}

.name-wrapper {
  margin-left: 12px;
  margin-right: 12px;
}
.name-wrapper p {
  margin-bottom: 5px;
  /* max-width: 300px; */
  max-width: 97%;
  overflow: hidden;
  height: 47px;
}
.name-wrapper .cost {
  font-size: 18px;
  margin-left: 6px;
  margin-right: 6px;
}

.name-wrapper .cost span {
  font-size: 16px;
  font-weight: 300;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin-left: 10px;
}

.left-wrapper {
  display: flex;
  justify-content: space-between;
}
.cart .helper {
  position: absolute;
  /* right: 40px; */
  top: 8px;
  margin: 0;
}

.del .del-img {
  height: 20px;
  width: auto;
  position: absolute;
  top: 10px;
  right: 8px;
}


/* -------- footer -------- */

footer {
  color: #fff;
}
.footer_inner {
  display: flex;
  justify-content: space-around;

}

.footer_inner ul{
    list-style: none;
    line-height: 180%;
}

.footer_title {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 14px;
}

.copyright{
  text-align: center;
}


/* -------- home page -------- */

.home-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px 15px;
}


.home-menu-card {
  background-color: #fff;
  width: 300px;
  height: 280px;
  padding: 8px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(224, 224, 224, 0.5);
}

.home-menu-card:hover {
  box-shadow: 0 10px 8px -10px rgba(0, 0, 0, 0.75);
}

.home-menu-name {
  font-size: 20px;
  color: #222;
  font-weight: bold;
  margin-top: 14px;
}

.home-menu-img {
  max-width: 180px;
}